html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
}

img {
    -webkit-user-drag: none; /*Chrome and Safari*/
    -moz-user-drag: none;    /*Firefox*/
    -ms-user-drag: none;     /*Internet Explorer/Edge*/
}

::selection {
  background-color: #6EC060;
  color: #FFFFFF;
}

::-moz-selection {
  background-color: #6EC060;
  color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bebas Neue", sans-serif;
}

p {
    font-family: "Inter", sans-serif;
}

.content {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 7em;
    padding: 2em;
}

.content-no-margin {
    margin-top: 0em;
}

.max-width-container {
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.max-width-text {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

@media screen and (max-width: 900px) {
    .max-width-text {
        max-width: 100%
    }
}

.navbar {
    background-color: #3D99DC;
    margin: 0em;
    padding: 0.5em;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-bottom: 7em;
}

.navbar a {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.7em;
    text-decoration: none;
    color: #FFFFFF;
    margin: 0.5em;
    padding: 0.5em;
}

.navbar .icon {
    display: none; 
    background-color: #3D99DC;
    color: #FFFFFF;
    padding: 0.5em;
    padding-bottom: 0.7em;
}

@media screen and (max-width: 900px) {
    .navbar {
        display: block;
        margin-bottom: -7em;
        width: 100%;
    }

    .navbar a:not(:first-child) {
        display: none;
    }

    .navbar a.icon {
        float: right;
        display: block;
        right: 0;
        top: 0;
    }

    .navbar.responsive {
        position: sticky;
    }

    .navbar.responsive .icon {
        position: absolute;
        right: 0.3em; 
        top: 0.29em;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
        padding-left: -2em;
    }

    .navbar.responsive a:not(:last-child) {
        margin-right: 1.25em;
    }
}

.hover-underline {
    display: inline-block;
    position: relative;
}
  
.hover-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.15em;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}
  
.hover-underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

iframe {
    border: .2em solid #000000;
}

.header {
    margin-top: 5em;
    position: relative;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    height: 45em;
    overflow: hidden;
    margin-bottom: -5em;
}

.header img {
    opacity: 0.3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.overlay h1 {
    color: #000000;
    font-family: "Bebas Neue", sans-serif;
    font-size: 10em;
    line-height: 100%;
}

.overlay p {
    color: #000000;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 2em;
    margin-top: -1em;
}

.overlay a {
    margin-top: 10em;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.7em;
    padding: 0.4em;
    background-color: #64BB55;
    color: #000000;
    text-decoration: none;
    margin-top: 10em;
    text-align: right;
}

.overlay a:active {
    background-color: #6EC060;
}

@media screen and (max-width: 1000px) {
    .overlay h1 {
        font-size: 7em;
    }   

    .overlay p {
        font-size: 1.5em;
    }

    .overlay {
        width: 90%;
    }
}

.centered {
    margin-right: auto;
    margin-left: auto;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.side-by-side {
    height: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.side-by-side img {
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.side-by-side-element-image {
    width: 35%;
    padding: 0.9em;
    height: auto;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.side-by-side-element-text {
    width: 65%;
    padding: 3.125em;
    height: auto;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

.side-by-side-element-text h1 {
    color: #3D99DC;
}

.side-by-side-element-text p {
    color: #000000;
}

.reverse-color-section {
    background-color: #64BB55;
    margin: 1.25em 0em;
    padding: 10px;
}

.reverse-color-section p {
    color: #FFFFFF;
}

.reverse-color-section h1 {
    color: #FFFFFF;
}

.reverse-color-section-text {
    color: #FFFFFF;
    padding: 1.25em;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.reverse-color-section-link {
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    padding: 0.625em 1.25em;
    float: right;
    margin: 0px;
}

.reverse-color-section-link:hover {
    opacity: 75%;
}

@media screen and (max-width: 1000px) {
    .side-by-side {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .side-by-side-element-text, .side-by-side-element-image {
        padding: 0px;
        width: 90%;
    }

    .side-by-side-element-image {
        max-width: 31.25em;
    }
  
    .side-by-side-element img {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .reverse-color-section-text {
        width: 90%;
    }
}

@media screen and (max-width: 1000px) {
    .reverse-color-section {
        margin: 1.25em 0em;
        padding: 1.25em 0em;
    }

    .reverse-color-section-text {
        width: 80%;
        margin: 1.25em;

        margin-right: auto;
        margin-left: auto;
        display: block;
    }
}

.footer {
    width: 100%;
    margin: 0px;
    padding: 1.25em 0em;
    text-align: center;
    bottom: 0;
    margin-top: 1em;
    background-color: #3D99DC;
}

.footer p {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    padding-right: 1.25em;
    padding-left: 1.25em;
}

.footer i {
    font-size: 2.5em;
    color: #FFFFFF;
    margin: 0em 0.4em;
}

.footer i:hover {
    color: #000000;
}

.side-by-side-scroll {
  margin-right: 3%;
  margin-left: 3%;
  width: 90%;
  height: auto;
  display: inline-flex;
  padding: 1.25em;
  justify-content: center;
  /*margin-top: -.05em;*/
  align-items: center;
}

.side-by-side-scroll-element {
  width: 45%;
  height: auto;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 850px) {
  .side-by-side-scroll {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .side-by-side-scroll-element {
    width: 100%;
    margin-left: -2%;
  }
}

.scroll-div {
    background-color: #64BB55;
    max-height: 31.25em;
    overflow-y: auto;
}

.scroll-div img {
    width: 45%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.scroll-div p {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 5%;
    margin-left: 5%;
    font-weight: 500;
    color: #FFFFFF;
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    flex-wrap: wrap;
}

.gallery-image-wrapper {
    margin: 1.25em 0.625em;
    position: relative;
    width: 18.75em;
    display: inline-block;
}

.gallery-image {
    width: 100%;
    height: auto;
}

.gallery-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-image-overlay p {
    color: #FFFFFF;
    padding: 0.625em;
    text-align: center;
}

.gallery-image-wrapper:hover .gallery-image-overlay {
    opacity: 1;
}

@media screen and (max-width: 900px) {
  .gallery-image-wrapper {
    width: 15em;
    height: auto;
  }
}